* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "Nunito Sans", sans-serif;
  transition: all 500ms ease;
}

/* NAV VIEW */

.nav_view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
  color: var(--text);
  background-color: var(--element);
  padding: 0 11rem;
  box-shadow: 0.3px 0.6px 0.6px hsl(0deg 0% 0% / 0.25);
  transition: all 500ms ease;
}

.nav_view p:first-child {
  font-weight: 800;
  font-size: 2.6rem;
}

.mode {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

/* SEARCH AND FILTER VIEW */

.search_view {
  width: 100%;
  height: 8rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.search_bar {
  display: flex;
  flex-direction: row;
  width: 45rem;
  height: 5rem;
  margin-left: 11rem;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: var(--element);
  padding: 0 1rem;
  box-shadow: 1.7px 2.5px 4.8px hsl(0deg 0% 0% / 0.45);
  transition: background-color 500ms ease;
}

.search_bar button {
  padding: 0 1.3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--input);
}

.search_input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--input);
  padding: 2rem 1rem;
  font-size: 1.7rem;
  transition: color 400ms ease;
}

#filter {
  width: 20rem;
  margin-left: 67rem;
  padding: 1.5rem 1.8rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  font-weight: 300;
  box-shadow: 0.5px 1px 1px hsl(0deg 0% 0% / 0.4);
  font-size: 1.5rem;
}

/* ALL COUNTRY VIEW */

/* a là inline nên ko set được width */

.card_link:link,
.card_link:visited,
.card_link:active {
  display: inline-block;
  width: max-content;
  height: max-content;
  text-decoration: none;
  color: var(--text);
  transition: color 300ms ease;
}

.country_view {
  width: 100%;
  height: max-content;
  margin-top: 4rem;
  padding-left: 11rem;
}

.country_card {
  display: inline-block;
  width: 26.75rem;
  height: 35rem;
  background-color: var(--element);
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1.7px 2.5px 4.8px hsl(0deg 0% 0% / 0.45);
  margin-right: 8rem;
  margin-bottom: 6rem;
  transition: background-color 400ms ease;
}

.card_name {
  font-size: 1.8rem;
  font-weight: 800;
  margin-top: 2.8rem;
  margin-bottom: 1.8rem;
  margin-left: 2rem;
}

.card_detail {
  font-size: 1.7rem;

  margin-top: 0.5rem;
  margin-left: 2rem;
  font-weight: 600;
}

.card_img {
  width: 27rem;
  height: 16rem;
}

.country_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_detail span {
  font-weight: 300;
}

/* DETAIL COUNTRY VIEW */

.detail_view {
  width: 130rem;
  height: 45rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 80rem 1fr;
  grid-template-rows: 7rem 40rem 12rem;
}

.back_btn {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  width: max-content;
  padding: 1rem 3.2rem;
  color: var(--text);
  background-color: var(--element);
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  border-radius: 0.7rem;
  box-shadow: 0.5px 1.2px 1.2px hsl(0deg 0% 0% / 0.45);
  cursor: pointer;
  transition: all 200ms ease;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.back_btn:hover {
  opacity: 0.6;
}

.detail_img {
  float: left;
  width: 62rem;
  height: 40rem;
  margin-right: 17rem;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.detail_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail_name {
  color: var(--text);
  font-size: 4rem;
  font-weight: 800;
  transition: all 200ms ease;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.detail_content {
  margin-top: 6rem;
  font-size: 2.3rem;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.detail {
  color: var(--text);
  margin-top: 0.6rem;
  font-weight: 600;
  transition: all 200ms ease;
}

.detail span {
  font-weight: 300;
}

.border {
  width: 130rem;
  height: 10rem;
  line-height: 4.2rem;
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

.detail_border {
  display: inline-block;
  margin-top: 3.8rem;
  font-size: 2rem;
  font-weight: 800;
  color: var(--text);
  transition: all 200ms ease;
}

.border_btn {
  padding: 1rem 2.3rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  color: var(--text);
  background-color: var(--element);
  box-shadow: 0.3px 0.6px 0.6px hsl(0deg 0% 0% / 0.25);
  margin-left: 1.5rem;
  cursor: pointer;
  transition: all 200ms ease;
}

.border_btn:hover {
  opacity: 0.6;
}

.hidden {
  display: none;
}

/* PAGINATION VIEW */

.pagination_view {
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.5rem;
}

.pagination_btn {
  padding: 0.6rem 2rem;
  color: var(--element);
  background-color: var(--text);
  font-weight: 600;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.back {
  position: absolute;
  left: 11rem;
}

.back i {
  margin-right: 1rem;
}

.ford {
  position: absolute;
  right: 9rem;
}

.page_num {
  position: absolute;
  left: 77rem;
  font-size: 2rem;
  font-weight: 800;
  color: var(--text);
}

/* PALLETE */

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --darker-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

.light {
  --bg: var(--very-light-gray);
  --element: var(--white);
  --text: var(--very-dark-blue);
  --input: var(--dark-gray);
}

.dark {
  --bg: var(--dark-blue);
  --element: var(--darker-blue);
  --text: var(--white);
  --input: var(--white);
}
